{% extends 'BcBootstrapDemoBundle::layout.html.twig' %}

{% block title %}Icons · BcBootstrapBundle{% endblock %}

{% block body %}

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>Icons</h1>
        <p class="lead">140 icons in sprite form, available in dark gray (default) and white, provided by <a href="http://glyphicons.com" target="_blank">Glyphicons</a>.</p>
    </div>
</header>

<div class="container">

    <div class="row">

        <!-- Docs nav
        ================================================== -->
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="#icon-glyphs">{{ 'chevron-right'|icon }} Icon glyphs</a></li>
                <li><a href="#usage">{{ 'chevron-right'|icon }} Usage</a></li>
            </ul>
        </div>

        <div class="span9">

            <!-- Icon glyphs
            ================================================== -->
            <section id="icon-glyphs">
                <div class="page-header">
                    <h1>Icon glyphs</h1>
                </div>

                <ul class="the-icons clearfix">
                    <li>{{ 'glass'|icon }} icon-glass</li>
                    <li>{{ 'music'|icon }} icon-music</li>
                    <li>{{ 'search'|icon }} icon-search</li>
                    <li>{{ 'envelope'|icon }} icon-envelope</li>
                    <li>{{ 'heart'|icon }} icon-heart</li>
                    <li>{{ 'star'|icon }} icon-star</li>
                    <li>{{ 'star-empty'|icon }} icon-star-empty</li>
                    <li>{{ 'user'|icon }} icon-user</li>
                    <li>{{ 'film'|icon }} icon-film</li>
                    <li>{{ 'th-large'|icon }} icon-th-large</li>
                    <li>{{ 'th'|icon }} icon-th</li>
                    <li>{{ 'th-list'|icon }} icon-th-list</li>
                    <li>{{ 'ok'|icon }} icon-ok</li>
                    <li>{{ 'remove'|icon }} icon-remove</li>
                    <li>{{ 'zoom-in'|icon }} icon-zoom-in</li>
                    <li>{{ 'zoom-out'|icon }} icon-zoom-out</li>
                    <li>{{ 'off'|icon }} icon-off</li>
                    <li>{{ 'signal'|icon }} icon-signal</li>
                    <li>{{ 'cog'|icon }} icon-cog</li>
                    <li>{{ 'trash'|icon }} icon-trash</li>
                    <li>{{ 'home'|icon }} icon-home</li>
                    <li>{{ 'file'|icon }} icon-file</li>
                    <li>{{ 'time'|icon }} icon-time</li>
                    <li>{{ 'road'|icon }} icon-road</li>
                    <li>{{ 'download-alt'|icon }} icon-download-alt</li>
                    <li>{{ 'download'|icon }} icon-download</li>
                    <li>{{ 'upload'|icon }} icon-upload</li>
                    <li>{{ 'inbox'|icon }} icon-inbox</li>

                    <li>{{ 'play-circle'|icon }} icon-play-circle</li>
                    <li>{{ 'repeat'|icon }} icon-repeat</li>
                    <li>{{ 'refresh'|icon }} icon-refresh</li>
                    <li>{{ 'list-alt'|icon }} icon-list-alt</li>
                    <li>{{ 'lock'|icon }} icon-lock</li>
                    <li>{{ 'flag'|icon }} icon-flag</li>
                    <li>{{ 'headphones'|icon }} icon-headphones</li>
                    <li>{{ 'volume-off'|icon }} icon-volume-off</li>
                    <li>{{ 'volume-down'|icon }} icon-volume-down</li>
                    <li>{{ 'volume-up'|icon }} icon-volume-up</li>
                    <li>{{ 'qrcode'|icon }} icon-qrcode</li>
                    <li>{{ 'barcode'|icon }} icon-barcode</li>
                    <li>{{ 'tag'|icon }} icon-tag</li>
                    <li>{{ 'tags'|icon }} icon-tags</li>
                    <li>{{ 'book'|icon }} icon-book</li>
                    <li>{{ 'bookmark'|icon }} icon-bookmark</li>
                    <li>{{ 'print'|icon }} icon-print</li>
                    <li>{{ 'camera'|icon }} icon-camera</li>
                    <li>{{ 'font'|icon }} icon-font</li>
                    <li>{{ 'bold'|icon }} icon-bold</li>
                    <li>{{ 'italic'|icon }} icon-italic</li>
                    <li>{{ 'text-height'|icon }} icon-text-height</li>
                    <li>{{ 'text-width'|icon }} icon-text-width</li>
                    <li>{{ 'align-left'|icon }} icon-align-left</li>
                    <li>{{ 'align-center'|icon }} icon-align-center</li>
                    <li>{{ 'align-right'|icon }} icon-align-right</li>
                    <li>{{ 'align-justify'|icon }} icon-align-justify</li>
                    <li>{{ 'list'|icon }} icon-list</li>

                    <li>{{ 'indent-left'|icon }} icon-indent-left</li>
                    <li>{{ 'indent-right'|icon }} icon-indent-right</li>
                    <li>{{ 'facetime-video'|icon }} icon-facetime-video</li>
                    <li>{{ 'picture'|icon }} icon-picture</li>
                    <li>{{ 'pencil'|icon }} icon-pencil</li>
                    <li>{{ 'map-marker'|icon }} icon-map-marker</li>
                    <li>{{ 'adjust'|icon }} icon-adjust</li>
                    <li>{{ 'tint'|icon }} icon-tint</li>
                    <li>{{ 'edit'|icon }} icon-edit</li>
                    <li>{{ 'share'|icon }} icon-share</li>
                    <li>{{ 'check'|icon }} icon-check</li>
                    <li>{{ 'move'|icon }} icon-move</li>
                    <li>{{ 'step-backward'|icon }} icon-step-backward</li>
                    <li>{{ 'fast-backward'|icon }} icon-fast-backward</li>
                    <li>{{ 'backward'|icon }} icon-backward</li>
                    <li>{{ 'play'|icon }} icon-play</li>
                    <li>{{ 'pause'|icon }} icon-pause</li>
                    <li>{{ 'stop'|icon }} icon-stop</li>
                    <li>{{ 'forward'|icon }} icon-forward</li>
                    <li>{{ 'fast-forward'|icon }} icon-fast-forward</li>
                    <li>{{ 'step-forward'|icon }} icon-step-forward</li>
                    <li>{{ 'eject'|icon }} icon-eject</li>
                    <li>{{ 'chevron-left'|icon }} icon-chevron-left</li>
                    <li>{{ 'chevron-right'|icon }} icon-chevron-right</li>
                    <li>{{ 'plus-sign'|icon }} icon-plus-sign</li>
                    <li>{{ 'minus-sign'|icon }} icon-minus-sign</li>
                    <li>{{ 'remove-sign'|icon }} icon-remove-sign</li>
                    <li>{{ 'ok-sign'|icon }} icon-ok-sign</li>

                    <li>{{ 'question-sign'|icon }} icon-question-sign</li>
                    <li>{{ 'info-sign'|icon }} icon-info-sign</li>
                    <li>{{ 'screenshot'|icon }} icon-screenshot</li>
                    <li>{{ 'remove-circle'|icon }} icon-remove-circle</li>
                    <li>{{ 'ok-circle'|icon }} icon-ok-circle</li>
                    <li>{{ 'ban-circle'|icon }} icon-ban-circle</li>
                    <li>{{ 'arrow-left'|icon }} icon-arrow-left</li>
                    <li>{{ 'arrow-right'|icon }} icon-arrow-right</li>
                    <li>{{ 'arrow-up'|icon }} icon-arrow-up</li>
                    <li>{{ 'arrow-down'|icon }} icon-arrow-down</li>
                    <li>{{ 'share-alt'|icon }} icon-share-alt</li>
                    <li>{{ 'resize-full'|icon }} icon-resize-full</li>
                    <li>{{ 'resize-small'|icon }} icon-resize-small</li>
                    <li>{{ 'plus'|icon }} icon-plus</li>
                    <li>{{ 'minus'|icon }} icon-minus</li>
                    <li>{{ 'asterisk'|icon }} icon-asterisk</li>
                    <li>{{ 'exclamation-sign'|icon }} icon-exclamation-sign</li>
                    <li>{{ 'gift'|icon }} icon-gift</li>
                    <li>{{ 'leaf'|icon }} icon-leaf</li>
                    <li>{{ 'fire'|icon }} icon-fire</li>
                    <li>{{ 'eye-open'|icon }} icon-eye-open</li>
                    <li>{{ 'eye-close'|icon }} icon-eye-close</li>
                    <li>{{ 'warning-sign'|icon }} icon-warning-sign</li>
                    <li>{{ 'plane'|icon }} icon-plane</li>
                    <li>{{ 'calendar'|icon }} icon-calendar</li>
                    <li>{{ 'random'|icon }} icon-random</li>
                    <li>{{ 'comment'|icon }} icon-comment</li>
                    <li>{{ 'magnet'|icon }} icon-magnet</li>

                    <li>{{ 'chevron-up'|icon }} icon-chevron-up</li>
                    <li>{{ 'chevron-down'|icon }} icon-chevron-down</li>
                    <li>{{ 'retweet'|icon }} icon-retweet</li>
                    <li>{{ 'shopping-cart'|icon }} icon-shopping-cart</li>
                    <li>{{ 'folder-close'|icon }} icon-folder-close</li>
                    <li>{{ 'folder-open'|icon }} icon-folder-open</li>
                    <li>{{ 'resize-vertical'|icon }} icon-resize-vertical</li>
                    <li>{{ 'resize-horizontal'|icon }} icon-resize-horizontal</li>
                    <li>{{ 'hdd'|icon }} icon-hdd</li>
                    <li>{{ 'bullhorn'|icon }} icon-bullhorn</li>
                    <li>{{ 'bell'|icon }} icon-bell</li>
                    <li>{{ 'certificate'|icon }} icon-certificate</li>
                    <li>{{ 'thumbs-up'|icon }} icon-thumbs-up</li>
                    <li>{{ 'thumbs-down'|icon }} icon-thumbs-down</li>
                    <li>{{ 'hand-right'|icon }} icon-hand-right</li>
                    <li>{{ 'hand-left'|icon }} icon-hand-left</li>
                    <li>{{ 'hand-up'|icon }} icon-hand-up</li>
                    <li>{{ 'hand-down'|icon }} icon-hand-down</li>
                    <li>{{ 'circle-arrow-right'|icon }} icon-circle-arrow-right</li>
                    <li>{{ 'circle-arrow-left'|icon }} icon-circle-arrow-left</li>
                    <li>{{ 'circle-arrow-up'|icon }} icon-circle-arrow-up</li>
                    <li>{{ 'circle-arrow-down'|icon }} icon-circle-arrow-down</li>
                    <li>{{ 'globe'|icon }} icon-globe</li>
                    <li>{{ 'wrench'|icon }} icon-wrench</li>
                    <li>{{ 'tasks'|icon }} icon-tasks</li>
                    <li>{{ 'filter'|icon }} icon-filter</li>
                    <li>{{ 'briefcase'|icon }} icon-briefcase</li>
                    <li>{{ 'fullscreen'|icon }} icon-fullscreen</li>
                </ul>

                <h3>Glyphicons attribution</h3>
                <p><a href="http://glyphicons.com/">Glyphicons</a> Halflings are normally not available for free, but an arrangement between Bootstrap and the Glyphicons creators have made this possible at no cost to you as developers. As a thank you, we ask you to include an optional link back to <a href="http://glyphicons.com/">Glyphicons</a> whenever practical.</p>

            </section>

            <!-- Usage
            ================================================== -->
            <section id="usage">
                <div class="page-header">
                    <h1>Usage</h1>
                </div>

                <p>You can either use the normal HTML code to include these icons or you can use one of two Twig filters to include the HTML code in your templates.</p>

                <hr class="bs-docs-separator">

                <h2>Twig Filters</h2>

                <p>The first filter takes the name of the icon and returns the HTML code. By the default the black icon will be used but you can add <code>white</code> as a second parameter to get a white icon.</p>
<pre class="prettyprint linenums">
{{ "{{ 'heart'|icon }}" }}
{{ "{{ 'heart'|icon('white') }}" }}
</pre>

                <p>The second filter comes in handy when you have a string that comes from a database or a translatable text. It takes a string and replaces occurrences of <code>.icon-NAME</code> with the HTML code to display that icon.</p>
                <div class="bs-docs-example">
                    <p>{{ '.icon-heart Florian hearted Coexist from The xx.'|parse_icons }}</p>
                    <p>
                        <span class="label label-inverse">{{ '.icon-heart Love'|parse_icons('white') }}</span>
                    </p>
                </div>
<pre class="prettyprint linenums">
{{ "{{ '.icon-heart Florian hearted Coexist from The xx.'|parse_icons }}" }}
{{ "{{ '.icon-heart Love'|parse_icons('white') }}" }}
</pre>

                <p>You can specify the color (white or black) inside the next instead in the second argument of the filter. The value from the text overwrites the value from the method call.</p>
                <div class="bs-docs-example">
                    <p>{{ '.icon-heart(black) Florian hearted Coexist from The xx.'|parse_icons }}</p>
                    <p>
                        <span class="label label-inverse">{{ '.icon-heart(white) Love'|parse_icons('white') }}</span>
                    </p>
                </div>
<pre class="prettyprint linenums">
{{ "{{ '.icon-heart(black) Florian hearted Coexist from The xx.'|parse_icons }}" }}
{{ "{{ '.icon-heart(white) Love'|parse_icons }}" }}
</pre>

                <hr class="bs-docs-separator">

                <h2>Menu icons</h2>

                <p>To display an icon in a menu rendered KnpMenuBundle you can use the syntax from <code>parse_icons</code>.</p>

                <div class="bs-docs-example">
                    <div class="well" style="max-width: 340px; padding: 8px 0;">
                        {{ knp_menu_render('BcBootstrapDemoBundle:Builder:navListIcons', {'nav_type': 'list'}) }}
                    </div> <!-- /well -->
                </div>
<pre class="prettyprint linenums">
{{ "{{ knp_menu_render('BcBootstrapDemoBundle:Builder:navListIcons', {'nav_type': 'list'}) }}" }}
</pre>
<pre class="prettyprint linenums">
// src/Braincrafted/BootstrapDemoBundle/Menu/Builder.php
...
public function navList(FactoryInterface $factory, array $options)
{
    $menu = $factory->createItem('root');

    $item = $menu->addChild('List Header');
    $item->addChild('.icon-home Home', array('uri' => '#'));
    $item->addChild('.icon-book Library', array('uri' => '#'));
    ...

    return $menu;
}
...
</pre>

            </section>

        </div>

    </div>

</div>

{% endblock %}