{% extends 'BcBootstrapDemoBundle::layout.html.twig' %}

{% block title %}Labels and badges · BcBootstrapBundle{% endblock %}

{% block body %}

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>Labels and badges</h1>
        <p class="lead">Twig extensions to convert text or variables into Bootstrap-styled labels and badges.</p>
    </div>
</header>

<div class="container">

    <div class="row">

        <!-- Docs nav
        ================================================== -->
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="#labels">{{ 'chevron-right'|icon }} Labels</a></li>
                <li><a href="#badges">{{ 'chevron-right'|icon }} Badges</a></li>
            </ul>
        </div>

        <div class="span9">

            <!-- Labels
            ================================================== -->
            <section id="labels">
                <div class="page-header">
                    <h1>Labels</h1>
                </div>

                <p>These filters are useful when you want to style a variable or the output of another Twig filter as a label. Don't overuse them and try to use the HTML syntax whenever appropiate.</p>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Labels</th>
                            <th>Markup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ 'Default'|label }}</td>
                            <td><code>{{ "{{ 'Default'|label }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>{{ 'Success'|label('success') }}</td>
                            <td><code>{{ "{{ 'Success'|label('success') }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>{{ 'Warning'|label('warning') }}</td>
                            <td><code>{{ "{{ 'Warning'|label('warning') }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>{{ 'Important'|label('important') }}</td>
                            <td><code>{{ "{{ 'Important'|label('important') }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>{{ 'Info'|label('info') }}</td>
                            <td><code>{{ "{{ 'Info'|label('info') }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>{{ 'Inverse'|label('inverse') }}</td>
                            <td><code>{{ "{{ 'Inverse'|label('inverse') }}" }}</code></td>
                        </tr>
                    </tbody>
                </table>

                <hr class="bs-docs-separator">

                <h2>Label aliases</h3>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Labels</th>
                            <th>Markup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ 'Success'|label_success }}</td>
                            <td><code>{{ "{{ 'Success'|label_success }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>{{ 'Warning'|label_warning }}</td>
                            <td><code>{{ "{{ 'Warning'|label_warning }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>{{ 'Important'|label_important }}</td>
                            <td><code>{{ "{{ 'Important'|label_important }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>{{ 'Info'|label_info }}</td>
                            <td><code>{{ "{{ 'Info'|label_info }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>{{ 'Inverse'|label_inverse }}</td>
                            <td><code>{{ "{{ 'Inverse'|label_inverse }}" }}</code></td>
                        </tr>
                    </tbody>
                </table>

            </section>


            <!-- Badges
            ================================================== -->
            <section id="badges">
                <div class="page-header">
                    <h1>Badges</h1>
                </div>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Example</th>
                            <th>Markup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Default</td>
                            <td>{{ 1|badge }}</td>
                            <td><code>{{ "{{ 1|badge }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>Success</td>
                            <td>{{ 2|badge('success') }}</td>
                            <td><code>{{ "{{ 2|badge('success') }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>Warning</td>
                            <td>{{ 4|badge('warning') }}</td>
                            <td><code>{{ "{{ 4|badge('warning') }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>Important</td>
                            <td>{{ 6|badge('important') }}</td>
                            <td><code>{{ "{{ 6|badge('important') }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>Info</td>
                            <td>{{ 8|badge('info') }}</td>
                            <td><code>{{ "{{ 8|badge('info') }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>Inverse</td>
                            <td>{{ 10|badge('inverse') }}</td>
                            <td><code>{{ "{{ 10|badge('inverse') }}" }}</code></td>
                        </tr>
                    </tbody>
                </table>

                <hr class="bs-docs-separator">

                <h2>Badge aliases</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Example</th>
                            <th>Markup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Success</td>
                            <td>{{ 2|badge_success }}</td>
                            <td><code>{{ "{{ 2|badge_success }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>Warning</td>
                            <td>{{ 4|badge_warning }}</td>
                            <td><code>{{ "{{ 4|badge_warning }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>Important</td>
                            <td>{{ 6|badge_important }}</td>
                            <td><code>{{ "{{ 6|badge_important }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>Info</td>
                            <td>{{ 8|badge_info }}</td>
                            <td><code>{{ "{{ 8|badge_info }}" }}</code></td>
                        </tr>
                        <tr>
                            <td>Inverse</td>
                            <td>{{ 10|badge_inverse }}</td>
                            <td><code>{{ "{{ 10|badge_inverse }}" }}</code></td>
                        </tr>
                    </tbody>
              </table>

            </section>


        </div>

    </div>

</div>

{% endblock %}