{% extends 'BcBootstrapDemoBundle::layout.html.twig' %}

{% block title %}Pagination · BcBootstrapBundle{% endblock %}

{% block body %}

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>Pagination</h1>
        <p class="lead">Use Bootstrap styles for your pagination.</p>
    </div>
</header>

<div class="container">

    <div class="row">

        <!-- Docs nav
        ================================================== -->
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="#setup">{{ 'chevron-right'|icon }} Setup</a></li>
                <li><a href="#standard-pagination">{{ 'chevron-right'|icon }} Standard Pagination</a></li>
                <li><a href="#pager">{{ 'chevron-right'|icon }} Pager</a></li>
            </ul>
        </div>

        <div class="span9">

            <!-- Installation
            ================================================== -->
            <section id="setup">
                <div class="page-header">
                    <h1>Setup</h1>
                </div>

                <p>BcBootstrapBundle currently supports <a href="https://github.com/KnpLabs/KnpPaginatorBundle">KnpPaginatorBundle</a> to display pagination.</p>

                <h2>Installation</h2>

                <p>The installation of the bundle is straight forward if you use <a href="http://getcomposer.org">Composer</a>.</p>

<pre class="prettyprint linenums">
{
    "require": {
        "knplabs/knp-paginator-bundle": "dev-master"
    }
}
</pre>

                <p>If you want to install the bundle using another method (but why should you?), please take a look at the documentation of KnpPaginatorBundle.</p>

                <hr class="bs-docs-separator">

                <h2>Setup</h2>

                <p>By default BcBootstrapBundle configures KnpPaginatorBundle to use the theme provided by BcBootstrap. However, you can disable auto configuration and manually configure the bundle:</p>

<pre class="prettyprint linenums">
# app/config.yml
bc_bootstrap:
    auto_configure:
        knp_paginator: false

knp_paginator:
    template:
        pagination: BcBootstrapBundle:Pagination:pagination.html.twig
</pre>




            </section>

            <!-- Standard pagination
            ================================================== -->
            <section id="standard-pagination">
                <div class="page-header">
                    <h1>Standard pagination</h1>
                </div>

                <p>Simple pagination inspired by Rdio, great for apps and search results. The large block is hard to miss, easily scalable, and provides large click areas.</p>
                <div class="bs-docs-example">
                    {{ knp_pagination_render(pagination) }}
                </div>
<pre class="prettyprint linenums">
{{ '{{ knp_pagination_render(pagination) }}' }}
</pre>

                <hr class="bs-docs-separator">

                <h2>Options</h2>


                <h3>Alignment</h3>
                <p>You can change the alignment of the pagination widget by adding an <code>alignment</code> option:</p>
                <div class="bs-docs-example">
                    {{ knp_pagination_render(pagination, null, {}, {'alignment': 'center'}) }}
                </div>
<pre class="prettyprint linenums">
{{ "{{ knp_pagination_render(pagination, null, {}, {'alignment': 'center'}) }}" }}
</pre>
                <div class="bs-docs-example">
                    {{ knp_pagination_render(pagination, null, {}, {'alignment': 'right'}) }}
                </div>
<pre class="prettyprint linenums">
{{ "{{ knp_pagination_render(pagination, null, {}, {'alignment': 'right'}) }}" }}
</pre>

                <h3>Labels</h3>
                <p>Change the text of the labels:</p>
                <div class="bs-docs-example">
                    {{ knp_pagination_render(pagination, null, {}, {'alignment': 'center', 'first_label': '&lt;&lt;', 'last_label': '&gt;&gt;', 'prev_label': '&lt;', 'next_label': '&gt;'}) }}
                </div>
<pre class="prettyprint linenums">
{{ "{{ knp_pagination_render(pagination, null, {}, {'alignment': 'center', 'first_label': '&lt;&lt;', 'last_label': '&gt;&gt;', 'prev_label': '&lt;', 'next_label': '&gt;'}) }}" }}
</pre>

            </section>

            <!-- Pager
            ================================================== -->
            <section id="pager">
                <div class="page-header">
                    <h1>Pager</h1>
                </div>

                <p>Quick previous and next links for simple pagination implementations with light markup and styles. It's great for simple sites like blogs or magazines.</p>

                <h3>Default example</h3>
                <p>By default, the pager centers links.</p>
                <div class="bs-docs-example">
                    {{ knp_pagination_render(pagination, null, {}, {'style': 'pager'}) }}
                </div>
<pre class="prettyprint linenums">
{{ "{{ knp_pagination_render(pagination, null, {}, {'style': 'pager'}) }}" }}
</pre>

                <h3>Aligned links</h3>
                <p>Alternatively, you can align each link to the sides:</p>
                <div class="bs-docs-example">
                    {{ knp_pagination_render(pagination, null, {}, {'style': 'pager', 'aligned': true}) }}
                </div>
<pre class="prettyprint linenums">
{{ "{{ knp_pagination_render(pagination, null, {}, {'style': 'pager', 'aligned': true}) }}" }}
</pre>

                <h3>Labels</h3>
                <p>You can change the text of the buttons:</p>
                <div class="bs-docs-example">
                    {{ knp_pagination_render(pagination, null, {}, {'style': 'pager', 'prev_label': '&larr; Older', 'next_label': 'Newer &rarr;'}) }}
                </div>
<pre class="prettyprint linenums">
{{ "{{ knp_pagination_render(pagination, null, {}, {'style': 'pager', 'prev_label': '&larr; Older', 'next_label': 'Newer &rarr;'}) }}" }}
</pre>


            </section>


        </div>

    </div>

</div>

{% endblock %}