<section>
    <div class="page-header">
        <h2 id="template">Basic template</h2>
    </div>

    <p>In your template you need to include the CSS and JavaScript files from Bootstrap, that are generated with Assetic. You also need to include jQuery. To enable support for HTML5 elements and media queries to IE8, we recommend to add HTML5 Shim and Respond.js as well.</p>

    <pre><code class="twig">&lt;!-- src/Acme/DemoBundle/Resources/views/layout.html.twig --&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;

    &lt;title&gt;Bootstrap 101 Template&lt;/title&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;!-- Bootstrap --&gt;
    &lt;link href=&quot;{{ "{{ asset('css/bootstrap.css') }}" }}&quot; rel=&quot;stylesheet&quot; media=&quot;screen&quot;&gt;

    &lt;!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries --&gt;
    {{ "{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}" }}

&lt;/head&gt;

&lt;body&gt;
    &lt;h1&gt;Hello, world!&lt;/h1&gt;

    &lt;!-- jQuery (necessary for Bootstraps JavaScript plugins) --&gt;
    &lt;script src=&quot;{{ "{{ asset('js/jquery.js') }}" }}&quot;&gt;&lt;/script&gt;
    &lt;!-- Include all JavaScripts, compiled by Assetic --&gt;
    &lt;script src=&quot;{{ "{{ asset('js/bootstrap.js') }}" }}&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

</section>
