<section>
    <div class="page-header">
        <h2>Forms</h2>
    </div>

    <h3>Styles</h3>

    <p>BcBootstrapBundle integrates all styles from Bootstrap. You can pass the style attribute to most form widgets</p>

    <pre><code>{{ "{{ form(form, { 'style': 'horizontal' }) }}" }}
{{ "{{ form_start(form, { 'style': 'horizontal' }) }}" }}
{{ "{{ form_row(form.firstName, { 'style': 'horizontal' }) }}" }}
{{ "{{ form_label(form.firstName, { 'style': 'horizontal' }) }}" }}</code></pre>

    <p>If you pass the style to <code>form</code> or <code>form_start</code> you don't have to pass the style attribute to each <code>form_row</code> widget. The style will be defined for each widget between <code>form_start</code> and <code>form_end</code>.</p>

    <pre><code>{{ "{{ form_start(form, { 'style': 'horizontal' }) }}" }}
    {{ "{{ form_row(form.firstName) }}" }}
    {{ "{{ form_row(form.lastName) }}" }}
{{ "{{ form_end(form) }}" }}</code></pre>

    <p>Internally BcBootstrapBundle uses functions to write and read the global style and use can also use these functions, for example, when you use HTML for the <code>&lt;form&gt;</code> tag but want set the style once for all fields.</p>

    <pre><code>&lt;form action="..." method="..." class="form-horizontal"&gt;
    {{ "{{ bootstrap_set_style('horizontal') }}" }}

    {{ "{{ form_row(form.firstName) }}" }}
    {{ "{{ form_row(form.lastName) }}" }}

    {{ "{{ bootstrap_set_style('') }}" }}
&lt;/form&gt;</code></pre>

    <p>The function <code>bootstrap_get_style()</code> returns the current style.</p>

    <hr>

    <h3>Additional Form Types</h3>

    <p>BcBootstrapBundle does not only provides styles for the existing form types of Symfony2 but also provides you with addional types. In some cases this is due to technical limitations of the implementation of Twig and/or Symfony2.</p>

    <h4>Money</h4>

    <p>The type <code>BootstrapMoneyType</code> extends <code>MoneyType</code> from Symfony2 to use Bootstraps prepend and append style to display the currency. </p>

    <div class="panel">
        <pre><code class="php">$form = $this->createFormBuilder([])
    ->add('amount', 'bootstrap_money');</code></pre>
        <div class="panel-footer">PHP</div>
    </div>

    <div class="panel">
        <pre><code>{{ "{{ form_row(form.amount) }}" }}</code></pre>
        <div class="panel-footer">Twig</div>
    </div>

    <p>The result will depend on the locale.</p>

    <div class="panel">
        <form action="" class="form-horizontal">
            {{ form_row(moneyForm.priceEuro, { 'style': 'horizontal' }) }}
            {{ form_row(moneyForm.priceDollar, { 'style': 'horizontal' }) }}
        </form>
        <div class="panel-footer">Result</div>
    </div>

</section>

<section>
    <div class="page-header">
        <h2>Menus</h2>
    </div>
</section>

<section>
    <div class="page-header">
        <h2>Pagination</h2>
    </div>
</section>
