<section>
    <div class="page-header">
        <h2>Forms</h2>
    </div>

    <h2>Field Types</h2>

    <h3>Text Fields</h3>

    {{ form_start(formFieldTypes, {'style': 'horizontal'}) }}

        {{ form_row(formFieldTypes.textField, {'style': 'horizontal'}) }}

        {{ form_row(formFieldTypes.textareaField, {'style': 'horizontal'}) }}

        {{ form_row(formFieldTypes.emailField, {'style': 'horizontal'}) }}

        {{ form_row(formFieldTypes.integerField, {'style': 'horizontal'}) }}

        {{ form_row(formFieldTypes.moneyField, {'style': 'horizontal'}) }}

        {{ form_row(formFieldTypes.numberField, {'style': 'horizontal'}) }}

        {{ form_row(formFieldTypes.passwordField, {'style': 'horizontal'}) }}

        {{ form_row(formFieldTypes.percentField, {'style': 'horizontal'}) }}

        {{ form_row(formFieldTypes.searchField, {'style': 'horizontal'}) }}

        {{ form_row(formFieldTypes.urlField, {'style': 'horizontal'}) }}

    {{ form_end(formFieldTypes) }}

    <h3>Choice Fields</h3>

    <h3>Date and Time Fields</h3>

    <h3>Other Fields</h3>

    <h3>Field Groups</h3>

    <h3>Hidden Fields</h3>

    <h3>Buttons</h3>

    <h3>Base Fields</h3>

</section>

<section>
    <div class="page-header">
        <h2>Menus</h2>
    </div>
</section>

<section>
    <div class="page-header">
        <h2>Pagination</h2>
    </div>
</section>
